@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

header {
    justify-content: space-between;
    padding: 1rem 8rem;
    box-shadow: -5px 10px 15px #666668;
}

header h1 {
    color: #505052;
}

header,
footer {
    background-color: #A8A8A8;
    color: #fff;
}

main,
footer {
    justify-content: center;
}

main {
    height: 85%;
}

footer {
    padding: 1.125rem;
    color: #505052;
    font-weight: 700;
}

.btn {
    width: 6.5rem;
    height: 2.3rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #505052;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #333333;
}