@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    box-shadow: -5px 4px 12px #666668;
    background-color: #cccaca;
}

header h1 {
    color: #505052;
}

main {
    height: 86%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 3rem;
}

ul {
    margin: 2rem auto;
}

footer {
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #505052;
    font-weight: 700;
}

.btn {
    width: 6.5rem;
    height: 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: #505052;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #333333;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
}


form .is-read {
    justify-content: space-between;
    width: 53%;
}